@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
} */

@layer components {
  /* .navbarLink {
    @apply 
  } */
}

body {
  background: rgb(11,12,16);
  background: linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 50%, rgba(69,162,158,1) 100%);
  color: white
}

/* @keyframes opening {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes widthOpen {
  0% {
    width: 5%;
  }
  100% {
    width: 20%;
  }
} */

.SocialLinksContainer {
  display: flex;
  width: 50px;
  transition-duration: 0.5s;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}
.SocialLinksLogo {
  transition-duration: 0.5s;
}
.SocialLinksText {
  position: absolute;
  left: -150px;
  transition-duration: 0.5s;
}

.SocialLinksContainer:hover .SocialLinksLogo {
  transform: translateX(80px);
  transition-duration: 0.5s;
}

.SocialLinksContainer:hover .SocialLinksText {
  left: 10px;
  transition-duration: 0.5s;
}

.SocialLinksContainer:hover {
  width: 130px;
  transition-duration: 0.5s;
}

.NavbarLogoText {
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.NavbarLogoText:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: rgb(11,12,16);
  background: linear-gradient(90deg, rgba(11,12,16,1) 0%, rgba(31,40,51,1) 50%, rgba(69,162,158,1) 100%);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.NavbarLogoText:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
